In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data_to_load = pd.read_csv("data/city_data.csv")
ride_data_to_load = pd.read_csv("data/ride_data.csv")

# Combine the data into a single dataset
combined_ride_data = pd.merge(city_data_to_load, ride_data_to_load,how='outer', on='city')
combined_ride_data

# Display the data table for preview

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2018-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2018-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2018-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2018-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2018-04-17 02:26:37,23.00,720020655850
5,Richardfort,38,Urban,2018-04-21 03:44:04,9.54,3698147103219
6,Richardfort,38,Urban,2018-02-03 00:14:26,29.04,4982665519010
7,Richardfort,38,Urban,2018-02-08 15:50:12,16.55,2270463070874
8,Richardfort,38,Urban,2018-04-03 15:07:34,40.77,9496210735824
9,Richardfort,38,Urban,2018-02-19 14:09:20,27.11,8690324801449
10,Richardfort,38,Urban,2018-04-22 03:06:56,39.74,4081388893008
11,Richardfort,38,Urban,2018-01-31 14:51:01,43.92,4066949857460
12,Richardfort,38,Urban,2018-03-04 22:13:57,14.83,9474112834050
13,Richardfort,38,Urban,2018-03-28 19:33:00,7.75,5539056178883
14,Richardfort,38,Urban,2018-02-14 03:27:28,44.11,2503858662225
15,Richardfort,38,Urban,2018-04-27 11:59:25,30.31,6106446829435
16,Richardfort,38,Urban,2018-03-03 11:57:24,11.42,2916078036620
17,Richardfort,38,Urban,2018-01-13 10:08:54,25.81,9110913538598
18,Richardfort,38,Urban,2018-03-06 12:53:05,8.28,5127600643309
19,Richardfort,38,Urban,2018-02-05 16:12:04,42.22,4051093040264
20,Richardfort,38,Urban,2018-04-04 15:04:56,16.35,6077906760851
21,Richardfort,38,Urban,2018-03-05 16:00:59,4.85,3291539624738
22,Richardfort,38,Urban,2018-04-14 11:56:28,43.01,7636011510547
23,Richardfort,38,Urban,2018-01-21 23:20:53,10.91,3567611375530
24,Richardfort,38,Urban,2018-03-16 23:00:51,21.39,237473464569
25,Richardfort,38,Urban,2018-03-22 04:41:04,16.35,5934239154720
26,Richardfort,38,Urban,2018-01-03 01:06:17,5.32,3268844473610
27,Richardfort,38,Urban,2018-03-29 15:16:01,37.76,4802688422688
28,Williamsstad,59,Urban,2018-01-23 17:51:24,19.62,125986195523
29,Williamsstad,59,Urban,2018-03-29 21:43:04,35.58,4747780858464
...,...,...,...,...,...,...
2345,Bradshawfurt,7,Rural,2018-03-24 18:53:18,57.51,2301998876294
2346,Bradshawfurt,7,Rural,2018-03-24 07:34:03,19.89,7867402022145
2347,Bradshawfurt,7,Rural,2018-02-18 22:21:26,34.32,8881996813087
2348,Bradshawfurt,7,Rural,2018-04-08 13:46:03,55.19,1742954306812
2349,Bradshawfurt,7,Rural,2018-04-07 21:12:49,49.70,5088814323688
2350,Bradshawfurt,7,Rural,2018-02-23 12:00:59,37.05,2068423024643
2351,Bradshawfurt,7,Rural,2018-04-10 09:47:54,19.07,739305106253
2352,Bradshawfurt,7,Rural,2018-01-19 20:21:54,56.78,1253403506597
2353,Bradshawfurt,7,Rural,2018-01-30 10:55:23,51.39,1328274868072
2354,New Ryantown,2,Rural,2018-01-27 17:33:41,42.68,7994603753131
2355,New Ryantown,2,Rural,2018-04-18 19:43:54,42.97,230914178346
2356,New Ryantown,2,Rural,2018-02-04 23:54:51,45.70,3570428225530
2357,New Ryantown,2,Rural,2018-04-30 01:50:44,50.81,5357550405010
2358,New Ryantown,2,Rural,2018-04-05 21:38:18,50.98,4834855490008
2359,New Ryantown,2,Rural,2018-05-05 19:29:38,26.53,2302209966018
2360,Randallchester,9,Rural,2018-04-13 11:13:31,43.22,1076079536213
2361,Randallchester,9,Rural,2018-02-19 03:52:47,58.55,8004803682564
2362,Randallchester,9,Rural,2018-02-11 05:42:29,25.78,9010611749008
2363,Randallchester,9,Rural,2018-03-25 13:36:46,10.37,3216382725494
2364,Randallchester,9,Rural,2018-04-07 23:42:07,10.79,1615474447641
2365,Jessicaport,1,Rural,2018-01-01 09:45:36,43.69,2424875833354
2366,Jessicaport,1,Rural,2018-01-14 07:09:17,18.05,5405362355006
2367,Jessicaport,1,Rural,2018-04-13 16:08:11,39.89,6511242590852
2368,Jessicaport,1,Rural,2018-03-18 16:59:40,33.72,3046889917159
2369,Jessicaport,1,Rural,2018-05-01 08:14:47,22.44,3725278487786
2370,Jessicaport,1,Rural,2018-01-31 17:57:25,58.29,623154556195
2371,South Saramouth,7,Rural,2018-02-20 16:32:36,44.29,3622365199969
2372,South Saramouth,7,Rural,2018-01-28 15:55:33,31.25,7118046558393
2373,South Saramouth,7,Rural,2018-03-27 21:07:16,11.87,170351888128
2374,South Saramouth,7,Rural,2018-04-12 18:11:50,57.23,5081198789583

In [27]:
# Split up our data into groups based upon 'gender'
city_groups = combined_ride_data.groupby('city')

# Find out how many of each gender took bike trips
city_data = city_groups['city'].count()

# Drop the 'stoptime' row that is contained within our group
city_data = city_data.drop(city_data.index[4])
colors=['orange','blue','yellow']
city_data.set_xlabel("city")
city_data.set_ylabel("Number of Trips Taken"
city_data.scatter(x=city, y=fare, alpha=0.5, c=colors)

SyntaxError: invalid syntax (<ipython-input-27-1c1f4b88bef3>, line 12)

In [14]:
g=combined_ride_data.groupby('city')
avg_data["fare average"]=g["fare"].mean()

city
Amandaburgh             24.641667
Barajasview             25.332273
Barronchester           36.422500
Bethanyland             32.956111
Bradshawfurt            40.064000
Brandonfort             35.437368
Carriemouth             28.314444
Christopherfurt         24.501852
Colemanland             30.894545
Davidfurt               31.995882
Deanville               25.842632
East Aaronbury          25.661111
East Danielview         31.560588
East Kaylahaven         23.757931
East Kentstad           29.823077
East Marymouth          30.835185
Erikaland               24.906667
Garzaport               24.123333
Grahamburgh             25.221200
Grayville               27.763333
Harringtonfort          33.470000
Huntermouth             28.993750
Hurleymouth             25.891429
Jerryton                25.649200
Jessicaport             36.013333
Johnton                 26.785714
Joneschester            22.289600
Josephside              32.858148
Justinberg              23.694333
Karenberg               26.340000
                          ...
South Evanton           26.726129
South Jack              22.965263
South Jennifer          35.264286
South Karenland         26.535526
South Latoya            20.093158
South Marychester       41.870000
South Michelleport      24.451613
South Phillip           28.571290
South Saramouth         36.160000
South Teresa            31.220455
Taylorhaven             42.263333
Valentineton            24.636364
Veronicaberg            32.828235
Victoriaport            27.780000
West Angela             25.990000
West Anthony            24.736667
West Christopherberg    24.421154
West Ericstad           22.347222
West Gabriel            20.346087
West Hannah             29.547619
West Heather            33.890000
West Heidi              23.133929
West Josephberg         21.720385
West Kimmouth           29.871500
West Patrickchester     28.233125
West Robert             25.123871
West Samuelburgh        21.767600
Williamsonville         31.875000
Williamsstad            24.362174
Williamsview            26.599000
Name: fare, Length: 120, dtype: float64

In [19]:
new_ride_data = combined_ride_data.sort_values(["avg_data"], ascending=False)
new_ride_data.reset_index(inplace=True)
new_ride_data

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

## Bubble Plot of Ride Sharing Data

In [ ]:
# Obtain the x and y coordinates for each of the three city types

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()